:root {
    --my-black: #141414;
    --my-red: #bb3344;
    --my-orange: #ffaa55;
    --my-blue: #00aacc;
    --my-grey: #636666;
    --my-pink: #ffccdd;
    --my-white: #fefeee;
}

html { 
    /* background: url("img/back.png") no-repeat center center fixed; */
    background-size: cover;
  }

body {
    font-family: monospace;
    text-decoration: none;
    background-color: var(--my-black);
    height: 100%;
    color: var(--my-white);
}

a {
    text-decoration: none;
    color: var(--my-blue);
}

.navbar {
    background-color: var(--my-black);
}

.navbar-brand {
    color: var(--my-white);
}

#navbarSupportedContent .nav-link {
    color: var(--my-white);
}

#content {
    text-align: center;
    background-color: var(--my-grey);
    min-height: 100%;
    padding: 0;
}

.link {
    margin: 1rem;
    padding: 2rem;
    display: block;
    background-color: var(--my-black);
    font-size: 1.3rem;
    border-radius: 1rem;
    border: 2px solid var(--my-orange);
}

#aboutsection {
    padding: 2rem;
}

.avatar {
    float:left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 1rem;

    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#aboutme {
    line-height: 200%;
    text-align: justify;
}

.project {
    border: 2px solid var(--my-orange);
    background-color: var(--my-black);
}
