<widget id="com.phonegap.cordova" versionCode="10" version="1.0.0">
<!-- versionCode is optional and Android only -->
<name>Proximity</name>
<description> Example for Class </description>
<author href="http://webclassesonline.net" email="mail@mail.com"> Liam Andrade </author>
<preference name="phonegap-version" value="cli-9.0.0"/>
<!-- specify selected platforms to create -->

<gap:platform name="android"/>

</widget>
