.flexy {
    display: flex;
    flex-direction: column;
}

#game {
    display: none;
}

#report {
    display: none;
}

.h2 {
    font-size: 2em;
}

.h3 {
    font-size: 1.5em;
}

.report {
    border: 2px solid black;
    padding: 1em;
    margin-bottom: 1em;
}

.correct > p {
    color:rgb(85, 170, 0);
}

.incorrect > p {
    color: crimson;
}